<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongcapital.usercenter.provider.dao.UcSyetemConfigMapper" >
  <resultMap id="BaseResultMap" type="com.rongcapital.usercenter.provider.po.UcSyetemConfig" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CONFIG_KEY" property="configKey" jdbcType="VARCHAR" />
    <result column="CONFIG_VALUE" property="configValue" jdbcType="VARCHAR" />
  </resultMap>
  
  
  
  <select id="selectByConfig" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    *
    from UC_SYSTEM_CONFIG
    where CONFIG_KEY = #{configKey,jdbcType=VARCHAR}
  </select>
  
</mapper>